<!-- Scripts -->
<!-- SoundCloud SDK -->
<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Auth for YouTube Data API -->
<script src="assets/js/dependencies/auth.js"></script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

<!-- SoundCloud API Script -->
<script>
    $(document).ready(function () {
        // Initialize SoundCloud
        SC.initialize({
            client_id: 'O3UkayfZTJjNeahVhqTiHcZ5iowrMRpk'
        });

        // Get track matching the search
        $("#searchButton").click(function () {
            SC.get('/tracks', {
                q: $("#searchField").val(), limit: 5
            }).then(function (tracks) {
                var SCSong = tracks[0];
                $("#resultList").show();
                $("#SCTitle").text(SCSong.title);
                $("#SCDuration").text(millis_to_min_sec(SCSong.duration));
                $("#SCURL").attr("href", SCSong.permalink_url);
            });
        });
    });

    // Convert milliseconds to MM:SS format (minutes:seconds)
    function millis_to_min_sec(millis) {
        var minutes = Math.floor(millis / 60000);
        var seconds = ((millis % 60000) / 1000).toFixed(0);
        return minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
    }
</script>

<!-- YouTube API Script -->
<script>
    $(document).ready(function googleAPIClientReady() {
        gapi.client.setApiKey('700226523963-plhcrja6v4kp9buv2kdcn986tsent7rt');
        gapi.client.load('youtube', 'v3', function() {
            searchA();
        });
    })

    $("#searchButton").click(function () {
        var q = $('#searchField').val();
        var request = gapi.client.youtube.search.list({
            q: qu,
            part: 'snippet',
            maxResults: 1
        });

        request.execute(function (response) {
            YTSong = JSON.stringify(response.result);
            alert(YTSong);
            YTSong = JSON.parse(str);
            alert(YTSong);

            //$("#resultList").show();
            //$("#YTTitle").text(YTSong.title);
            //$("#YTDuration").text(millis_to_min_sec(YTSong.duration));
            //$("#YTURL").attr("href", YTSong.permalink_url);
        });
    })
</script>

<!-- Spotify API Script -->
<script>
    $(document).ready(function () {
        // Initialize Spotify API
        var Spotify = require('spotify-web-api-js');
        var spotifyAPI = new Spotify();
        spotifyAPI.setAccessToken('451d27d161bb4e068a7772eef5a8c02a');

        // Get track matching the search
        $("#searchButton").click(function () {
                q: $("#searchField").val(), limit: 5
            spotifyAPI.searchTracks(query)
                .then(function (data) {
                    $('#playing').text(data);
                }, function (err) {
                    console.log(err);
                    $('#playing').text(err);

                    var SPTSong = data[0];
                    console.log(data[0]);
                    $("#resultList").show();
                    $("#SPTTitle").text(SPTSong.title);
                    $("#SPTDuration").text(millis_to_min_sec(SPTSong.duration));
                    $("#SPTURL").attr("href", SPTSong.permalink_url);
                });
            });
        });
    });

</script>

<!-- Main Container, defines 800px width -->
<div class="main-container center-text">
    <!-- Header and sub-header -->
    <div class="logo-font slogan">browse it all. right here.</div>
    <div class="logo-font sub-slogan">Search for your favorite tunes on SoundCloud, Spotify & YouTube!</div>
    <br>
    <!-- Search field -->
    <div class="card-panel white search-field">
        <div class="input-field" style="color:black">
            <i class="material-icons prefix search-icon" style="bottom: 4px;">search</i>
            <input name="searchField" id="searchField" type="text" class="validate black-text"
                   style="color: #00000; font-size: 20px;">
        </div>
    </div>
    <button type="submit" id="searchButton"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  pink lighten-3 white-text about-shadow">
        Search
    </button>
</div>
<p>
    You're listening to: <span id="playing"></span>
</p>

<br/>
<hr>
<!-- Results -->
<div id="resultList" class="main-container result-shadow results-container">
    <!-- Search result for music -->
    <ul id="results" class="collection black-text">
        <!-- SoundCloud result -->
        <!-- SoundCloud Search API: https://developers.soundcloud.com/docs/api/guide#search -->
        <li id="SCResult" class="collection-item avatar">
            <img id="SCProviderLogo"
                 src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/soundcloud-icon.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="SCTitle" class="title"></span>
            <!-- Artist | Not applicable for SoundCloud results, as they have no unique field for artist -->
            <p id="SCDuration">
            </p>
            <!-- Link to track -->
            <a id="SCURL" href="" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of SoundCloud result -->

        <!-- YouTube result -->
        <!-- YouTube Search API: https://developers.google.com/youtube/v3/code_samples/javascript#search-by-keyword -->
        <li id="YTResult" class="collection-item avatar">
            <img id="YTProviderLogo"
                 src="https://www.jillwolcottknits.com/wp-content/uploads/2016/02/youtube-variation-round.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="YTTitle" class="title"></span>
            <!-- Artist | Not applicable for YouTube results, as they have no unique field for artist -->
            <p id="YTDuration">
            </p>
            <!-- Link to track -->
            <a id="YTURL" href="" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of YouTube result -->

        <!-- Spotify result -->
        <!-- Spotify Search API: https://developers.google.com/youtube/v3/code_samples/javascript#search-by-keyword -->
        <li id="SPTResult" class="collection-item avatar">
            <img id="SPTProviderLogo"
                 src="http://pre14.deviantart.net/5e2b/th/pre/f/2015/245/9/b/new_spotify_icon_by_mattroxzworld-d98301o.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="SPTTitle" class="title"></span>
            <!-- Artist -->
            <p id="SPTDuration">
            </p>
            <!-- Link to track -->
            <a id="SPTURL" href="" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of Spotify result -->
    </ul>
</div>