<!-- Scripts -->
<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/dependencies/auth.js"></script>

<!-- SoundCloud Script -->
<script>
    var SCLogo = "http://icons.iconarchive.com/icons/sicons/basic-round-social/512/soundcloud-icon.png";
    var YTLogo = "https://www.jillwolcottknits.com/wp-content/uploads/2016/02/youtube-variation-round.png";
    var SPTFYLogo = "http://pre14.deviantart.net/5e2b/th/pre/f/2015/245/9/b/new_spotify_icon_by_mattroxzworld-d98301o.png";
    $(document).ready(function () {
        // Initialize SoundCloud
        SC.initialize({
            client_id: 'O3UkayfZTJjNeahVhqTiHcZ5iowrMRpk'
        });

        // Get track matching the search
        $("#searchButton").click(function () {
            SC.get('/tracks', {
                q: $("#searchField").val(), limit: 5
            }).then(function (tracks) {
                console.log(tracks.title);
                var song = tracks[0];
                $("#resultList").show();
                $("#SCTitle").text(song.title);
                $("#SCDuration").text(millis_to_min_sec(song.duration));
                $("#SCURL").attr("href", song.permalink_url);
            });
        });
    });

    // Convert milliseconds to MM:SS format (minutes:seconds)
    function millis_to_min_sec(millis) {
        var minutes = Math.floor(millis / 60000);
        var seconds = ((millis % 60000) / 1000).toFixed(0);
        return minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
    }
</script>

<!-- YouTube Script -->
<script>
    // Search for a specified string.
    function search() {
        var q = $('#searchField').val();
        var request = gapi.client.youtube.search.list({
            q: q,
            part: 'snippet',
            maxResults: 1
        });

        request.execute(function(response) {
            var str = JSON.stringify(response.result);
            $('#search-container').html('<pre>' + str + '</pre>');
        });
    }
</script>

<!-- Main Container, defines 800px width -->
<div class="main-container center-text">
    <!-- Header and sub-header -->
    <div class="logo-font slogan">browse it all. right here.</div>
    <div class="logo-font sub-slogan">Search for your favorite tunes on SoundCloud, Spotify & YouTube!</div>
    <br>
    <!-- Search field -->
    <div class="card-panel white search-field">
        <div class="input-field" style="color:black">
            <i class="material-icons prefix search-icon" style="bottom: 4px;">search</i>
            <input name="searchField" id="searchField" type="text" class="validate black-text"
                   style="color: #00000; font-size: 20px;">
        </div>
    </div>
    <button type="submit" id="searchButton"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  pink lighten-3 white-text about-shadow">
        Search
    </button>
</div>

<br/>
<hr>
<!-- Results -->
<div id="resultList" class="main-container result-shadow results-container">
    <!-- Search result for SoundCloud -->
    <ul id="results" class="collection black-text">
        <!-- SoundCloud result -->
        <!-- SoundCloud Search API: https://developers.soundcloud.com/docs/api/guide#search -->
        <li id="SCResult" class="collection-item avatar">
            <img id="SCProviderLogo"
                 src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/soundcloud-icon.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="SCTitle" class="title"></span>
            <!-- Artist | Not applicable for SoundCloud results, as they have no unique field for artist -->
            <p id="SCDuration">
            </p>
            <!-- Link to track -->
            <a id="SCURL" href="" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of SoundCloud result -->
    </ul>
</div>