<!-- Scripts -->

<!-- APIs Used -->
<!-- SoundCloud SDK + API -->
<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<script src="assets/js/soundcloud.js"></script>
<!-- YouTube Data API -->
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
<script src="assets/js/youtube.js"></script>
<!-- Spotify Web API -->
<script src="assets/js/spotify.js"></script>
<!-- MusixMatch API -->
<script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"></script>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- End of Scripts -->

<!-- Main Container, defines 800px width -->
<div class="main-container center-text">
    <!-- Header and sub-header -->
    <div class="logo-font slogan">all music in one place</div>
    <div class="logo-font sub-slogan">Search for your favorite tunes on SoundCloud, Spotify & YouTube, with lyrics from MusixMatch!</div>
    <br>
    <!-- Search field -->
    <div class="card-panel white search-field">
        <div class="input-field" style="color:black">
            <i class="material-icons prefix search-icon" style="bottom: 4px;">search</i>
            <input name="searchField" id="searchField" type="text" class="validate black-text"
                   style="color: #00000; font-size: 20px;">
        </div>
    </div>
    <button type="submit" id="searchButton"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  pink lighten-3 white-text about-shadow">
        Search
    </button>

</div>

<br/>
<hr>
<!-- Results -->
<div id="resultList" class="main-container result-shadow results-container">
    <!-- Search result for music -->
    <ul id="results" class="collection black-text">
        <!-- SoundCloud result -->
        <!-- SoundCloud Search API: https://developers.soundcloud.com/docs/api/guide#search -->
        <li id="SCResult" class="collection-item avatar">
            <img id="SCProviderLogo"
                 src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/soundcloud-icon.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="SCTitle" class="title"></span>
            <!-- Artist | Not applicable for SoundCloud results, as they have no unique field for artist -->
            <p id="SCDuration">
            </p>
            <!-- Link to track -->
            <a id="SCURL" href="" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of SoundCloud result -->

        <!-- YouTube result -->
        <!-- YouTube Search API: https://developers.google.com/youtube/v3/code_samples/javascript#search-by-keyword -->
        <li id="YTResult" class="collection-item avatar">
            <img id="YTProviderLogo"
                 src="https://www.jillwolcottknits.com/wp-content/uploads/2016/02/youtube-variation-round.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="YTTitle" class="title"></span>
            <!-- Artist | Not applicable for YouTube results, as they have no unique field for artist -->
            <p id="YTDuration">
            </p>
            <!-- Link to track -->
            <a id="YTURL" href="" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of YouTube result -->

        <!-- Spotify result -->
        <!-- Spotify Search API: https://developers.google.com/youtube/v3/code_samples/javascript#search-by-keyword -->
        <li id="SPTResult" class="collection-item avatar">
            <img id="SPTProviderLogo"
                 src="http://pre14.deviantart.net/5e2b/th/pre/f/2015/245/9/b/new_spotify_icon_by_mattroxzworld-d98301o.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="SPTTitle" class="title"></span>
            <!-- Artist -->
            <p id="SPTArtist">
            </p>
            <!-- Duration -->
            <p id="SPTDuration">
            </p>
            <!-- Link to track -->
            <a id="SPTURL" href="" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of Spotify result -->

        <!-- MusixMatch result -->
        <!-- MusixMatch Search API: https://developer.musixmatch.com/documentation/api-reference/track-search -->
        <!-- MusixMatch Song Lyric Lookup API: https://developer.musixmatch.com/documentation/api-reference/track-lyrics-get -->
        <li id="MMResult" class="collection-item avatar">
            <img id="MMProviderLogo"
                 src="https://lh4.ggpht.com/yrUJPyt4kgNtLTnWK42fHteubCfllwm-Hk0uDut2jQr96mkch4-uNwEoQXwVIEtmUeGd=w300"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span id="MMTitle" class="title"></span>
            <!-- Preview of Lyrics -->
            <p id="MMLyricsPreview">
            </p>
        </li>
        <!-- End of Spotify result -->
    </ul>
</div>
