<div class="center-text form-font">
    <h1 class="logo-font slogan">edit profile</h1>
    <form action="/user/update/<%= user.id %>" method="POST">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" value="<%= user.name %>" type="text" name="name" id="name">
            <label class="mdl-textfield__label white-text" for="name">Name..</label>
        </div>
        <br/>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" value="<%= user.group %>" type="text" name="group" id="group">
            <label class="mdl-textfield__label white-text" for="group">Group..</label>
        </div>
        <br/>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pink lighten-3 white-text">
            Save
        </button>
    </form>
    <br>
    <hr>

    <a onClick="return confirmDelete()" href="/user/destroy/<%= user.id %>">
        <button id="deleteUser"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pink lighten-3 white-text">
            Delete Account
        </button>
    </a>
    <div class="mdl-tooltip mdl-tooltip--large" for="deleteUser">
        Delete your account
    </div>

    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete your account?');
        }
    </script>
    <br>

    <br>
    <a id="back" href="" onclick="goBack()"
       class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">navigate_before</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--large" for="back">
        Go back to the previous page
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>