<div id="resultList" class="main-container result-shadow">
    <!-- Search result for SoundCloud -->
    <ul id="results" class="collection black-text">
        <!-- SoundCloud result -->
        <!-- SoundCloud Search API: https://developers.soundcloud.com/docs/api/guide#search -->
        <li id="result" class="collection-item avatar">
            <img id="providerLogo"
                 src="<%= SCSound.logo %>"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span class="title"><%= SCSound.songtitle %></span>
            <!-- Artist | Not applicable for SoundCloud results, as they have no unique field for artist -->
            <p>
            <!--
                The Killers
                <br> -->
            <!-- Length -->
            <%= SCSound.duration %>
            </p>
            <!-- Link to track -->
            <a href="<%= SCSound.url %>" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of SoundCloud result -->
    </ul>
</div>

