<!-- Main Container, defines 800px width -->
<div class="main-container center-text">
    <!-- Header and sub-header -->
    <div class="logo-font slogan">browse it all. right here.</div>
    <div class="logo-font sub-slogan">Search for your favorite tunes on SoundCloud, Spotify & YouTube!</div>
    <br>
    <!-- Search field -->
    <div class="card-panel white search-field">
        <form action="/soundcloud/search" method="POST">
            <div class="input-field" style="color:black">
                <i class="material-icons prefix search-icon" style="bottom: 4px;">search</i>
                <input name="title" id="title" type="text" class="validate black-text"
                       style="color: #00000; font-size: 20px;">
            </div>
        </form>
    </div>
</div>
</div>

