<div id="resultList" class="main-container result-shadow">

    <!-- Search results -->
    <ul class="collection black-text">
        <!-- SoundCloud result -->
        <!-- SoundCloud Search API: https://developers.soundcloud.com/docs/api/guide#search -->
        <li class="collection-item avatar">
            <img id="providerLogo"
                 src="<%= SCSound.logo %>"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span class="title"><%= SCSound.title %></span>
            <!-- Artist | Not applicable for SoundCloud results, as they have no unique field for artist -->
            <!-- <p>The Killers <br> -->
                <!-- Length -->
                <%= SCSound.duration %>
            </p>
            <!-- Link to track -->
            <a href="<%= SCSound.url %>" target="_blank"
               class="secondary-content"><i class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of SoundCloud result -->

        <!-- YouTube result -->
        <!-- YouTube Search API: https://github.com/google/google-api-nodejs-client/blob/master/samples/youtube/search.js -->
        <li class="collection-item avatar">
            <img id="providerLogo"
                 src="https://www.jillwolcottknits.com/wp-content/uploads/2016/02/youtube-variation-round.png" alt=""
                 class="circle">
            <!-- Song Title -->
            <span class="title">Smile Like You Mean It</span>
            <!-- Artist -->
            <p>The Killers <br>
                <!-- Length -->
                3:47
            </p>
            <!-- Link to track -->
            <a href="https://www.youtube.com/watch?v=l1p_NHFd8jM" target="_blank" class="secondary-content"><i
                        class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of YouTube result -->

        <!-- Spotify result -->
        <!-- Spotify Search API: https://github.com/thelinmichael/spotify-web-api-node -->
        <li class="collection-item avatar">
            <img id="providerLogo"
                 src="http://pre14.deviantart.net/5e2b/th/pre/f/2015/245/9/b/new_spotify_icon_by_mattroxzworld-d98301o.png"
                 alt=""
                 class="circle">
            <!-- Song Title -->
            <span class="title">Smile Like You Mean It</span>
            <!-- Artist -->
            <p>The Killers <br>
                <!-- Length -->
                3:54
            </p>
            <!-- Link to track -->
            <a href="https://play.spotify.com/track/4kAgnAL4WKx7YqnlL2fvMh" target="_blank" class="secondary-content"><i
                        class="material-icons">arrow_forward</i></a>
        </li>
        <!-- End of Spotify result -->
    </ul>
</div>

