<!-- Main Container, defines 800px width -->
<div class="main-container center-text">
  <!-- Header and sub-header -->
  <div class="logo-font slogan">about us</div>
</div>
<br><br>

<div class="aboutcard-container">
  <div class="card small about-shadow">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://www.w3schools.com/css/img_fjords.jpg">
      <span class="card-title activator white-text">musicMASH</span>
    </div>
    <div class="card-content">
      <span id="activator_vert" class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <div class="mdl-tooltip mdl-tooltip--large " for="activator_vert">
        Click for more info
      </div>
      <p class="black-text">Find your favorite track with a single search across SoundCloud, YouTube and MusixMatch!</p>
    </div>
    <div class="card-action">
      <a href="/">Search for your favorite track</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">musicMASH<i
          class="material-icons right">close</i></span><br>
      <p class="black-text">We take advantage of the APIs provided by SoundCloud, YouTube, and MusixMatch to provide
        an all-in-one search engine to find your favorite songs on the three services.</p>
      <p class="black-text">This is an application written in Sails.js for a course at the University of Nebraska Omaha, ISQA-4380.
        The goal of the project is to take advantage of at least four different APIs.</p>
      <p class="black-text">We chose to take advantage of the APIs supplied by SoundCloud and YouTube for the music itself,
        and use MusixMatch and OpenAura to provide lyrics for the songs searched for an the artist bios.
      </p>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="../../assets/js/third-party/jquery-2.1.1.min.js"></script>
